{% extends "base.html" %}

{% block content %}
    <header>
        <h1>Kitty's Pet Store</h1>
        <p>Your Destination for Furry Friends</p>
    </header>

    <main>
        <h2>Welcome to Kitty's Pet Store!</h2>
        <p>Explore a world of pets that will bring joy and companionship into your life.</p>
        <img src="{{ url_for('static', filename='assets/pet1.jpeg') }}" alt="Pet Image 1" class="pet-image">
        <img src="{{ url_for('static', filename='assets/pet2.png') }}" alt="Pet Image 2" class="pet-image">
        <img src="{{ url_for('static', filename='assets/pet3.jpeg') }}" alt="Pet Image 3" class="pet-image">
        <p>Check out our latest arrivals and find your new best friend!</p>
    </main>
{% endblock %}
